127.0.0.1       {{ ansible_fqdn }}     {{ ansible_hostname }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for grp in groups %}
{% if grp != 'all' %}
{% for member in groups[grp] %}
{{ hostvars[member]['ansible_ssh_host']}}   {{ member }} 
{% endfor %}
{% endif %}
{% endfor %}
